<div class="container">
  <h1>Hello</h1>
  <% @items.each do |item| %>
    <strong><%= item.title %>:</strong> <%= link_to "Edit", edit_item_path(item) %><br>
    <small><%= item.description %></small><br><br>
  <% end %>
  <p><%= link_to "New item", new_item_path %></p>
</div>